<footer>
    <p> loveagame </p>
    <p> Disclaimer: this website was only build for education purposes. All copyright elements such as images, 
        titles, logos, and descriptions belong to their respective owners.
    </p>
    <p> Shanley Aidan, Rios Miguel, Ruiz-Mireles Hugo, Serrano Jaime</p>
    <p>CST-366: Internet Programming. CSUMB Schoold of Computing and Design</p>
</footer>
</body>