<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/header.ejs") %>

</head>

<body>

    <p class="game-detail game-result-container"> This web application allows the user to search for any game, it gives detailed information about the game
        including a description, genre, price, rating, metacritic score, and platforms. As well as lets the user add and
        edit a review for any game searched. </p>
    <%- include("partials/footer.ejs") %>
</body>

</html>