<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header.ejs") %>
    <title>Game</title>
</head>
<body>
    <section>
        <!-- insert game title here -->
    </section>
    <section>
        <div>
            <!-- insert game image here -->
        </div>
        <div>
            <!-- insert game description here -->
        </div>
        <div>
            <!-- insert game tags, platforms, and rating -->
        </div>
    </section>
</body>
</html>