<%- include("partials/header.ejs") %>

<h1>Add a Game</h1>

<form action="/games/new" method="POST">
  <label>
    Title:
    <input type="text" name="title" required>
  </label>

  <label>
    Genre:
    <input type="text" name="genre" required>
  </label>

  <label>
    Platform:
    <input type="text" name="platform" required>
  </label>

  <label>
    Rating:
    <input type="number" name="rating" min="1" max="10" required>
  </label>

  <button type="submit">Add Game</button>
</form>

<%- include("partials/footer.ejs") %>