<%- include("partials/header.ejs") %>

<body>
    <!-- for loop this section based on matches of the search result-->
     <section>
        <div>
            <!-- insert game name-->
        </div>
        <div>
            <!-- insert games art cover in icon format-->
        </div>
        <!-- if possible insert date of release and platforms -->
         <div>
            <!-- insert game rating-->
         </div>
     </section>

     <%- include('partials/footer') %>
</body>
</html>
