<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <!-- remember to add a nav section -->
     <title>Results for <!-- make script to but search input --></title>
</html>
<body>
    <%- include('partials/header') %>
    <!-- for loop for every single found result -->
     <section>
        <div>
            <!-- game icon art cover -->
        </div>
        <div>
            <!-- game title -->
        </div>
        <!-- add date if possible -->
        <div>
            <!-- rating -->
        </div>
     </section>
    <%- include('partials/footer') %>
</body>
=======
    <title>Home</title>
</head>
<body>
    <!-- for loop this section based on matches of the search result-->
     <section>
        <div>
            <!-- insert game name-->
        </div>
        <div>
            <!-- insert games art cover in icon format-->
        </div>
        <!-- if possible insert date of release and platforms -->
         <div>
            <!-- insert game rating-->
         </div>
     </section>
</body>
</html>
>>>>>>> 1ff4960 (Add game pages and resolve merge state)
