@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

#my-title {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: black 4px;
}

.title-like {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
    /* -webkit-text-stroke: black 2px; */
}

header {
    background-color: #0077ff;
    padding: 10px;
    text-align: center;
}